!!!

%html{html_attrs}

  %body

    %h1 Forgot my password

    %p
      & We are sending an e-mail to #{@email} with a one-time link that will remain valid for a limited period.
      Please check your e-mail.

    %p Meanwhile, if you remember your password, you may continue to use it until you change it.
