!!!

Sign in:

%form#login_form
  .label_input
    %label{:for=>"email"} E-mail
    %input{:name=>"email", :id=>"email", :type=>"text"} 
  .label_input
    %label{:for=>"password"} Password
    %input{:name=>"password", :id=>"password", :type=>"password"} 
