!!!

%html{html_attrs}

  %body

    %h1 Sign in

    %form#login_form(action="logon" method="POST")
      .label_input
        %label{:for=>"email"} E-mail
        %input{:name=>"email", :id=>"email", :type=>"text", :value=>@email}
      .label_input
        %label{:for=>"password"} Password
        %input{:name=>"password", :id=>"password", :type=>"password"} 
      .button
        %button{:type => "submit"} Submit

    .reset_password
      %a{:href=>"/change-password"} I forgot my password.

    .register
      %a{:href=>"/register"} Register!
