!!!

%html{html_attrs}

  %body

    %h1 Registering

    %p
      & We are sending an e-mail to #{@email} with a one-time link that will 
      give you access to allow you to set your password.
      It will remain valid for a limited period.

    %p
      Please check your e-mail.
