!!!
%html{html_attrs}
  / Copyright Westside Consulting LLC, Ann Arbor, MI, USA, 2012

  %head
    :javascript
      function validate(form) {

        if (form.password.value != form.password2.value) {
          alert("Passwords must match");
          return false;
        }

        if (form.password.value.length < 8) {
          alert("Password must have at least 8 characters");
          return false;
        }
        return true;
      }

  %body

    %h1 Change Password

    %form#change_password_form{ :action => '/change-password',
        :method => 'post',
        :onsubmit => 'return validate(this)',
        }
      .label_input
        %label{:for=>"password"} New Password
        %input{:name=>"password", :id=>"password", :type=>"password"} 
      .label_input
        %label{:for=>"password"} Confirm New Password
        %input{:id=>"password2", :type=>"password"} 
      .button
        %button{:type => "submit"} Submit
