!!!

%html{html_attrs}

  %body

    %h1 Register

    %form#login_form{:action => '/register', :method => 'post'}
      .label_input
        %label{:for=>"email"} E-mail
        %input{:name=>"email", :id=>"email", :type=>"text"} 
      .button
        %button{:type => "submit"} Submit
